---
layout: default
---

<article class="post">
 <h1 class="inner">
    {{ page.title }}
  </h1>
    <div class="center">
  <p class="meta">{{ page.date | date_to_string}}</p>
</div>

<!-- only display tag "infrastructure" if there are tags -->
{% if page.tags != empty %} 
 <div class="tag-icon-image"> 
    <!-- iterate through tags in the current page using page.tags variable -->
    {%  for tag in page.tags  %} 
      <div class="tag-link">
       <!-- link to appropriate tag anchor in tags.html -->
       <a href="/tags#{{ tag }}">{{ tag }}</a>
      </div> 
    {%  endfor %}
 </div>
{%  endif  %}


  <div class="entry">
    {{ content }}	
  </div>

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>



  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
  <!-- TOC Generator -->
  <script src="/js/jquery.toc-1.1.4.min.js"></script>

  <script src="/js/videoresponsive.js"></script>
  <script>
    // $('#toc').toc();
 $('#toc').toc({exclude: 'h1, h6', autoId: true});

  </script>
  
  
  