---
layout: page
permalink: /tags/
---
<ul class="tagcloud">
  {% capture cat_list %}{% for cat in site.categories %}{% if forloop.last != true%}|{% endif %}{% endfor %}{% endcapture %}
  {% assign sorted_cats = cat_list | split:'|' |  sort %}
  {% for catname in sorted_cats %}
    <li style="font-size: {{ site.categories[catname] | size | times: 100 | divided_by: site.categories.size | plus: 70 }}%" class="tag">
      <a href="/posts-about/{{ catname | slugize }}/">
        {{ catname }}
      </a>
    </li>
  {% endfor %}
</ul>